<link rel="stylesheet" href="/static/stylecabdetails.css" type="text/css">
  <div class="container">
            <div class="header">
                <h2 >Book a city Taxi to your destination in town</h1>
            </div>
            <div class="mid-container">
            <form method="post">
                <div id="pickupDiv">
                    <input type="text" id="cabfrom" placeholder="Pick-up location" name="cabfrom">
                </div>
                <br/>
                <div id="dropDiv">
                    <input type="text" id="cabto" placeholder="Drop-off location" name="cabto">
                </div>
                <div class="alert-danger" id="location"></div>
                <br/>
                <div id="dateDiv">
                    <input type="date" id="date" placeholder="pick-up date" name="date">
                </div>
                <br/>
                <div id="timeDiv">
                    <input type="time" id="time" placeholder="pick-up time" name="time" >
                </div>
                <br/>
               
                <div id="searchDiv">
                    <button type="submit" id="search">Book now</button>
                </div>
            </form>    
            </div>
</div>