<div class="container">

    <br>

    <br>    

    <table class="table table-sm-6 table-dark">

        <tr>

            <th>Passenger Name</th>

            <td>Hrithik</td>

        </tr>

        <tr>

            <th>Date</th>

            <td>10-11-2002</td>

        </tr>

        <tr>

            <th>Time</th>

            <td>12:15</td>

        </tr>

        <tr>

            <th>Pick up location</th>

            <td>tvm</td>

        </tr>

        <tr>

            <th>Drop location</th>

            <td>kochi</td>

        </tr>

        <tr>

            <th>Cost</th>

            <td>3000</td>

        </tr>
        <tr>

            <th>CabNo</th>

            <td>2121</td>

        </tr>

        <tr>

            <th>Driver</th>

            <td>ashique</td>

        </tr>

    </table>

    <button class="btn btn-success">Print pdf</button>

</div>