<div class="container-fluid">
   <table class="table">
        <tr>
            <th>From</th>
            <th>To</th>
            <th>Cost</th>

        </tr>
        <tr>
            <td>{{data.dataValues.cab_from}}</td>
            <td>{{data.dataValues.cab_to}}</td>
            <td>{{data.dataValues.cost}}</td>

            <td>
                <a href="/paymentInvoice/{{data.dataValues.cab_no}}">
                    <button class="btn btn-success">
                        Pay Now
                    </button>
                </a>
            </td>
            

            
        </tr>
        
        

   </table> 

</div>